@charset "UTF-8";



/*
*	COMMON SUB TITLE
*/
h2{
	color: #0b66ff;
}

/**
*	TOP
**/
main > section#top{
	min-height: calc(100vh - 100px);
	height: calc(100vh - 100px);
}
main > section#top > div{
	background: rgb(179,220,237);
	background: -moz-linear-gradient(-45deg,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 26%, rgba(40,98,224,1) 50%, rgba(41,184,229,1) 75%, rgba(188,224,238,1) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 26%,rgba(40,98,224,1) 50%,rgba(41,184,229,1) 75%,rgba(188,224,238,1) 100%);
	background: linear-gradient(135deg,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 26%,rgba(40,98,224,1) 50%,rgba(41,184,229,1) 75%,rgba(188,224,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 );
	z-index: -9999;
}
main > section#top > div > canvas{
	position: fixed;
	top: 100px;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	mix-blend-mode: saturation;
	z-index: -3000;
}
main > section#top > div > h1{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	max-width: 600px;
	transform: translate(-50%, calc(-50% - 25px));
	z-index: 1000;
	color: transparent;
}
main > section#top > div > h1 > img{
	width: 100%;
	margin: 0 auto;
	mix-blend-mode: overlay;
}

/**
* 	mission
**/
main > section#mission{
	background-color: #ffffffee;
	min-height: 650px;
	max-height: 650px;
}
main > section#mission > div{
	position: relative;
	background-color: #ffffff;
	z-index: 10;
	min-height: 650px;
	max-height: auto;
}/*
main > section#mission > div::after{
	position: absolute;
	content: "";
	background-color: #f8f8fe;
	height: 80vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -9999;
	transform: skew(-45deg, 45deg);
}*/
main > section#mission > div > div{
	height: 100%;
	max-height: 650px;
}
main > section#mission > div > div.title{
	width: 100%;
	height: 100px;
	padding: 10px;
	position: relative;
	overflow: hidden;
	z-index: 100;
}
main > section#mission > div > div.title > h2{
	font-size: 35px;
	line-height: 35px;
	padding: 30px;
	height: 80px;
	width: 800px;
	margin: 0 auto;
	border-radius: 5px;
	text-shadow: 0 0 2px #ffffff;
	/*background-color: #81cfeaaa;*/
	transform: translateX(-1000px);
	transition: all .5s ease;
}
main > section#mission.active > div > div.title > h2{
	transform: translateX(0);
}
main > section#mission.active > div > div.title > h2 > span{
	color: transparent;
	display: none;
}
main > section#mission > div > div.title > span{
	position: absolute;
	font-weight: bolder;
	font-size: 100px;
	width: 405px;
	color: #aaaaaa66;
	top: 0;
	left: 0;
	z-index: -100;
	animation: ebb 20s linear infinite alternate; 
}
@keyframes ebb{
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(calc(100vw - 405px) );
	}
}

main > section#mission > div > div.text{
	display: flex;
	width: 800px;
	padding: 30px;
	margin: 0 auto;
	background-color: #6060ff;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #777777;
	opacity: 0;
	transform: translateX(-300px);
	transition: all .5s ease;
	transition-delay: .2s;
}
main > section#mission.active > div > div.text{
	opacity: 1;
	box-shadow: 0 0 2px #000000;
	transform: translateX(0);
}
main > section#mission > div > div.text > img{
	max-width: 400px;
	max-height: 300px;
}
main > section#mission.active > div > div.text > img:nth-child(1){
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    transform: translate(55px, -25px);
}
main > section#mission.active > div > div.text > img:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    transform: translate(-15px, 125px);
}
main > section#mission.active > div > div.text > p{
	color: #ffffff;
	width: 50%;
	padding: 0 20px;
	line-height: 1.7em;
	font-size: 0.9em;
	min-height: 300px;
	overflow: hidden;
}

/*
*	WORKS
*/
main > section#works{
	padding: 50px 0;
	min-height: calc(100vh + 100px);
	background-color: #ffffffe0;
	min-height: 700px;
}
main > section#works > div{
	width: 100%;
}
main > section#works > div > h2{
	text-align: center;
	font-size: 35px;
	line-height: 35px;
	z-index: 300;
	padding: 20px 0;
}
main > section#works > div > h3{
	position: absolute;
	font-size: 150px;
	letter-spacing: 0.5em;
	color: #81cfea29;
	top: 5px;
	left: 50%;
	text-align: center;
	transform: rotateX(-90deg) translateX(-50%);
	animation: rollText 10s linear infinite;
}
@keyframes rollText{
	0%{
		transform: rotateX(0deg) translateX(-50%);
	}
	100%{
		transform: rotateX(360deg) translateX(-50%);
	}
}
main > section#works > div > div{
	width: 800px;
	margin: 0 auto;
}

/*
*	RECRUIT
*/

main > section#recruit{
	padding: 50px 0;
	min-height: calc(100vh + 100px);
	background-color: #ffffff;
	min-height: 700px;
	overflow: hidden;
}
main > section#recruit > div{
	width: 100%;
}
main > section#recruit > span{
	position: absolute;
	top: 0;
	left: 20px;
	font-size: 400px;
	font-weight: bolder;
	color: #cacaca33;
	animation: fadeInOut 20s linear infinite alternate;
}
@keyframes fadeInOut{
	0%{
		opacity: 0.2;
		transform: translate(0px);
	}
	25%, 75%{
		opacity: 1;
	}
	50%{
		opacity: 0.3;
	}
	100%{
		opacity: 0.2;
		transform: translate(-1000px);
	}
}
main > section#recruit > div > h2{
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	text-shadow: 0 0 3px #777777,
				 0 0 3px #777777;
	letter-spacing: 0.3em;
}
main > section#recruit > div > h3{
	text-align: center;
	font-size: 20px;
	color: #8f0124;
	margin: 0 auto;
	padding: 10px;
	border-top: 2px solid #8f0124;
	border-bottom: 2px solid #8f0124;
}
main > section#recruit > div > h3 > p{
	color: #8f0124;
	text-shadow: 0 0 2px #c15671;
	font-size: 20px;
}
main > section#recruit > div > h3 > p:last-child{
	font-size: 33px;
}
main > section#recruit > div > div.col_two{
	justify-content: space-around;
	width: 800px;
	margin: 0 auto;
}
main > section#recruit > div > div > a{
	text-align: center;
	margin-top: 100px;
	width: 40%;
	height: 60px;
	border-radius: 20px;
	background-color: #8f0124;
	color: white;
	box-shadow: 2px 2px 2px #000000;
	transform: translate(-1px, -1px);
	transition: all .3s ease;
}
main > section#recruit > div > div > a:hover{
	transform: translate(0, 0);
	box-shadow: 0px 0px 2px #000000;
}
main > section#recruit > div > div > a > span{
	font-size: 20px;
	line-height: 38px;
	color: #ffffff;
}
/*
*	NEWS 
*/
main > section#news{
	background-color: #acdaf6a8;
	min-height: 500px;
	/*mix-blend-mode: luminosity;*/
}
main > section#news > div{
	max-height: 100%;
	min-height: 100%;
}
main > section#news > div > div.col_two{
	width: 800px;
	margin: 100px auto;
}
main > section#news > div > div.col_two > div:first-child{
	width: 30%;
}
main > section#news > div > div.col_two > div:first-child > h2{
	font-size: 50px;
	text-shadow: 0 0 3px #ffffff,
				 0 0 3px #ffffff;
	font-weight: bolder;
}
main > section#news > div > div.col_two > div:last-child{
	background-color: #ffffff;
	width: 70%;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0 0 2px #000000,
				0 0 2px #000000;
}
main > section#news > div > div.col_two > div:last-child > p{
	display: flex;
	line-height: 40px;
	border-bottom: 1px dashed #dddddd;
}
main > section#news > div > div.col_two > div:last-child > p:last-child{
	border-bottom: none;
}
main > section#news > div > div.col_two > div:last-child > p > span{
	font-size: 16px;
	color: #333333;
}
main > section#news > div > div.col_two > div:last-child > p > span:first-child{
	width: 30%;
}
main > section#news > div > div.col_two > div:last-child > p > span:last-child{
	width: 70%;
}
.col_two > div.scrollY{
	overflow-y: scroll;
}
.col_two > div > img, .col_two > a > img{
	/*max-width: 400px;*/
	max-height: 300px;
}

@media screen and (max-width: 800px){
	main > section#mission{
		min-height: 510px;
		max-height: 510px;
		overflow: hidden;
	}
	main > section#mission > div > div.title > h2{
		width: 100%;
		padding: 20px;
	}
	@keyframes ebb{
		0%{
			transform: translateX(0px);
		}
		100%{
			transform: translateX(calc(100vw) );
		}
	}
	main > section#mission > div > div.text{
		width: 100%;
	}
	main > section#mission > div > div.text > img:nth-child(1){
		display: none;
	}
	main > section#mission.active > div > div.text > img:nth-child(2){
		width: 100%;
		transform: translate(0px, 10px);
		z-index: -1000;
		filter: brightness(0.7);
		height: 100%;
	}
	main > section#mission.active > div > div.text > p{
		width: 100%;
		padding: 0 10px;
	}
	main > section#works{
		min-height: 1200px;
	}
	main > section#works > div > div{
		width: 100%;
	}
	main > section#recruit > div > div.col_two{
		width: 100%;
	}
	main > section#recruit > div > div > a{
		width: 95%;
		margin:	50px auto;
	}
	main > section#news > div > div.col_two{
		width: 100%;
	}
	main > section#news > div > div.col_two > div:first-child{
		width: 100%;
		height: 100px;
	}
	main > section#news > div > div.col_two > div:first-child > h2{
		font-size: 40px;
	}
	main > section#news > div > div.col_two > div:last-child{
		width: 95%;
		margin: 0 auto;
	}
	main > section#news > div > div.col_two > div:last-child > p > span{
		font-size: 14px;
	}
}