/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*															SUB TITLE																*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
section#title{
	width: 100%;
	height: 150px;
	background-color: #00A7EA;
	overflow: hidden;
	display: flex;
	margin-bottom: 70px;
}
section#title > div{
	margin: 0;
}
section#title > div.text{
	width: 300px;
	/*transform: skewX(-20deg);*/
	height: 100%;
	font-size: 36px;
	color: #fff;
	padding: 50px;
	position: relative;
}
section#title.form > div.text{
	font-size: 32px;
}/*
section#title > div.text::after{
	content: "";
	transform: skewX(-30deg);
	background-color: #00A7EA;
	width: 100px;
	height: 150px;
	position: absolute;
	top: 0;
	right: -50px;
	z-index: 1000;
}*/
section#title > div.image{
	position: relative;
	right: -50px;
	width: calc(100% - 300px);
	transform: skewX(-30deg);
	overflow: hidden;
}
section#title > div.image > img{
	position: relative;
	left: -50px;
	width: calc(100% + 100px);
	height: 100%;
	transform: skewX(30deg);
	filter: grayscale(1);
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*														SECTION TITLE																*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
section#content > div{
	padding: 20px 0;
}
section#content > div > h2, section#works > div > h2{
	font-size: 35px;
	position: relative;
	display: inline;
	padding: 5px;
	padding-right: 35px;
	padding-top: 40px;
	border-bottom: 2px solid #00A7EA;
	margin-bottom: 30px;
}
section#content > div > h3{
	font-size: 35px;
	position: relative;
	display: inline;
	left: -35px;
	padding: 5px;
	padding-right: 35px;
	padding-top: 40px;
	margin-bottom: 30px;
}
section#content > div > h2::after, section#works > div > h2::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 2px;
	transform: rotate(-45deg);
	background-color: #00A7EA;
	box-shadow: 8px 8px 0px #00A7EA;
}
section#content > div > div{
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
}
section#content > div > div > p{
	line-height: 38px;
	font-size: 22px;
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*															table																	*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
.table{
	padding: 20px;
}
.table > div{
	display: flex;
	padding: 20px 0;
	border-bottom: 1px solid #00A7EA;
}
.table > div:first-child{
	/*border-top: 1px solid #00A7EA;*/
}
.table > div > h3{
	width: 200px;
	font-weight: normal;
}
.table.recruit{
}
.table.recruit > div{
	padding: 0;
	border: 1px solid #707070;
	border-bottom: none;
}
.table.recruit > div:last-child{
	border-bottom: 1px solid #707070;
}
.table.recruit > div > h3{
	background-color: #00a7ea38;
	padding: 20px 0;
	padding-left: 10px;
	font-weight: bold;
} 
.table.recruit > div > div{
	padding: 20px 0;
	padding-left: 10px;
}
.table > div > div{
	width: calc(100% - 200px);
}
.table > div > div > p{
	display: flex;
	width: 100%;
}
.table > div > div > p > span:first-child{
	width: 40%;
}
.table > div > div > p > span:last-child{
	width: 60%;
}
.table > div > div.long > p > span:first-child{
	width: 70%;
}
.table > div > div.long > p > span:last-child{
	width: 30%;
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*															map 																	*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
.map_wrapper > *{
	width: 100%;
	padding: 10px;
}
.map_wrapper > h3{
	font-size: 23px;
	position: relative;
	border-left: 3px solid #00A7EA;
	margin-top: 20px;
}
.map_wrapper > address{
	font-style: normal;
	font-size: 20px;
}
section#content > div > div.map{
	padding-left: 0;
	padding-right: 0;
}
.map iframe{
	width: 90%;
	height: 400px;
	margin: 0 auto;
	display: block;
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*															list 																	*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
.col_two{
	width: 100%;
	display: flex;
}
.col_two > div,.col_two > ul{
	width: 50%;
}
.col_two > div.img{
}
.col_two img{
	width: calc(100vw / 2 - 20px);
}
.list{
	padding: 30px 50px;
}
.list > li{
	list-style: circle;
	font-size: 23px;
}
.list > p{
	text-align: right;
	font-size: 23px;
}
section > div.col_two > div{
	font-size: 25px;
	text-align: center;
}
.contact{
	width: 100%;
	padding: 0;
	text-align: center;
	display: flex;
	flex-flow: column;
	text-align: center;
	width: 300px;
}
.contact a.tel{
	display: inline;
	position: relative;
	width: 260px;
	font-size: 40px;
	text-align: center;
	margin-left: 40px;
	margin: 0 auto;
}
.contact a.tel::before{
	content: "";
	position: absolute;
	left: -40px;
	top: 8px;
	background-image: url(../img/tel.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*														BUTTON																		*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
.btn{
	display: inline-block;
	height: 55px;
	font-size: 28px;
	color: #fff;
	width: 300px;
	background-color: #00A7EA;
	padding: 6px 14px;
	border-radius: 7px;
	line-height: 43px;
	text-align: center;
	transform: translate(-2px, -2px);
	box-shadow: 2px 2px 2px #000000;
	transition: all .3s ease;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 70px;
}
.btn:hover{
	transform: translate(0px, 0px);
	box-shadow: 0px 0px 0px #000000;
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*														WORKS																		*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
section#works{
	width: 100%;
}
section#works > div > div{
	padding: 10px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 70px;
}
section#works > div > div > a{
	display: block;
	font-size: 20px;
	text-align: left;
	position: relative;
	width: 100%;
	background-color: #999999;
	color: #ffffff;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	margin: 10px 0;
}
section#works > div > div > a:after{
	content: "+";
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	background-color: #777777;
	color: #ffffff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	box-shadow: 0 0 2px #ffffff;
}
section#works > div > div > a.active:after{
	content: "-";
}
section#works > div > div > a + div{
	/*height: 0;*/
	overflow: hidden;
	transition: all .7s ease;
}
section#works > div > div > a.active + div{
	/*height: 300px;*/
}
section#works > div > div > a + div > p{
	padding: 10px 0;
	padding-left: 20px;
	width: 100%;
	display: flex;
}

section#works > div > div > a + div > p >span:nth-child(1){
	padding-right: 30px;
	width: calc(100% / 3);
}
section#works > div > div > a + div > p >span:nth-child(2){
	width: calc(100% * 2 / 3);
}
main > section#contact{
	width: 800px;
	margin: 70px auto;
}
main > section#contact > .col_two > div:first-child > p{
	text-align: left;
	font-size: 30px;
	padding: 20px;
	/*border: 2px solid #707070;*/
}
main > section#contact > .col_two > div:first-child > p.recruitMessage{
	font-size: 26px;
	padding: 5px 0;
	padding-left: 30px;
}
main > section:last-child{
	margin-bottom: 70px;
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*														THUMBNAIL SLIDE SHOW														*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
section#content > div > div.slider_wrapper{
    padding-left: 0px;
	width: 100%;
	min-height: 400px;
	margin: 10px auto;
}
.main_slides{
	display: block;
	margin: 0 auto;
	width: 700px;
	min-height: 400px;
}
.main_slides .main_image{
	display: block;
	width: 100%;
	min-height: 400px;
	margin: 10px auto;
	overflow: hidden;
}
.slides .slide{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slides .slide:nth-child(1){
	background-image: url(../img/thumb/01.jpg);
}
.slides .slide:nth-child(2){
	background-image: url(../img/thumb/02.jpg);
}
.slides .slide:nth-child(3){
	background-image: url(../img/thumb/03.jpg);
}
.slides .slide:nth-child(4){
	background-image: url(../img/thumb/04.jpg);
}
.slides .slide:nth-child(5){
	background-image: url(../img/thumb/05.jpg);
}
.slides .slide:nth-child(6){
	background-image: url(../img/thumb/06.jpg);
}
.slides .slide:nth-child(7){
	background-image: url(../img/thumb/07.jpg);
}
.slides .slide:nth-child(8){
	background-image: url(../img/thumb/08.jpg);
}
.slides .slide:nth-child(9){
	background-image: url(../img/thumb/09.jpg);
}
.slides .slide:nth-child(10){
	background-image: url(../img/thumb/10.jpg);
}
.slides .slide:nth-child(11){
	background-image: url(../img/thumb/11.jpg);
}
.slides .slide:nth-child(12){
	background-image: url(../img/thumb/12.jpg);
}
.slides .slide:nth-child(13){
	background-image: url(../img/thumb/13.jpg);
}
.slides .slide:nth-child(14){
	background-image: url(../img/thumb/14.jpg);
}
.slides .slide:nth-child(15){
	background-image: url(../img/thumb/15.jpg);
}
.thumbnail_wrapper{
	width: 850px;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
}
.thumbnail_wrapper > .thumb_item{
	cursor: pointer;
	width: 150px;
	margin: 5px;
	min-height: 120px;
	filter: brightness(.5);
	transition: all .3s ease;
}
.thumbnail_wrapper > .thumb_item.active{
	filter: brightness(1);
}
.slick-arrow{
	z-index: 1;
	display: none;
}
.slick-prev{
	left: -50px;
}
.slick-next{
	right: -20px;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
	opacity: 0;
}
.slick-prev:before, .slick-next:before{
	font-size: 50px;
	color: #60c8f2;
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
/*														RESPONSIVE																	*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+	*/
@media screen and (max-width: 800px){
	section#title{
		height: 100px;
		margin-bottom: 50px;
	}
	section#title > div.text{
		width: 240px;
		font-size: 26px;
		padding: 30px 15px;
	}
	section#title > div.text::after{
		width: 65px;
		right: -20px;
	}
	section#title > div.image{
		padding: 0;
		width: calc(100% - 130px);
	}
	section#content > div > h2,section#works > div > h2{
		margin-left: 20px;
		font-size: 28px;
	}
	section#works > div > div > a + div > p >span{
		width: 50%;
	}
	section#works > div > div > a + div > p >span:nth-child(1){
		padding-right: 15px;
	}
	section#content > div > div{
		padding-right: 30px;
	}
	.table > div > h3{
		width: 100px;
	}
	.table > div > div{
		width: calc(100% - 100px);
	}
	.table > div > div > p{
		width: 100%;
	}
	.table > div > div > p > span:first-child{
		width: 60%;
	}
	.table > div > div > p > span:last-child{
		width: 40%;
	}
	section#content > div > h3{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 22px;
		left: 0;
	}
	section#content > div > div > p{
		font-size: 20px;
	}
	.col_two{
		flex-flow: column;
	}
	.col_two > div,.col_two > ul{
		width: 100%;
	}
	section#content > div > div.col_two{
		padding: 10px;
		padding-bottom: 50px;
	}
	.col_two img{
		width: 100%;
	}
	section > p{
		width: 95%;
	}
	main > section:last-child{
		margin-bottom: 30px;
	}
	main > section#contact{
		width: 90%;
		margin: 30px auto;
	}
	main > section#contact > .col_two > div:first-child > p{
		text-align: left;
		font-size: 22px;
		padding: 15px;
		/*border: 2px solid #707070;*/
	}
	.contact a.tel{
		margin-top: 40px;
		left: 16px;
	}
	section#title.form > div.text{
		font-size: 26px;
		z-index: 3000;
	}
	section#title.form > div.text:after{
		z-index:-1;
	}
	section#content > div > div.slider_wrapper{
		padding: 5px;
	}
	.main_slides{
		width: 100%;
		position: relative;
	}
	.thumbnail_wrapper{
		width: 100%;
		justify-content: space-around;
	}
	.slick-arrow{
		z-index: 1;
		display: none;
	}
	.slick-prev{
		left: 5px;
	}
	.slick-next{
		right: 20px;
	}
	.slick-prev:before, .slick-next:before{
		font-size: 35px;
		color: #ffffffb8;
	}
	.list > li{
		font-size: 20px;
	}
	.thumbnail_wrapper > .thumb_item{
		width: calc(100% / 3 - 20px);
	}
}

