/* COMMON */
main > div{
		
}
main > div > section{
	min-height: 750px;
	/*overflow: hidden;*/
	position: relative;
}
section > div{
	overflow: hidden;
}

/*------------------------------------------------------------------------------------------------------------*/
/* 												TOP 														  */
/*------------------------------------------------------------------------------------------------------------*/
section#top > div{
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow: visible;
}
section#top > div > div{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100vh - 200px);
	z-index: -9999;
}
section#top > div > div > img{
	width: 100%;
	height: 100%;
	z-index: -9999;
}
section#top > div > div > img.hidden{
	display: none;
}
section#top > div > div > img.active{
	display: block;
}
section#top > div > div.scrolled{

}
section#top > div > h1 {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	position: absolute;
	font-size: 45px;
	letter-spacing: 0.2em;
	color: #222222;
	text-shadow: 0 0 3px #ffffff;
	left: 50%;
	top: -30px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	height: 80%;
}
section#top > div > h1 > p{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 45px;
	letter-spacing: 0.2em;
	color: #222222;
	text-shadow: 0 0 3px #ffffff;
}
section#top > div > h1 > p:last-child{
	padding-top: 30px;
}
section#top > div > p{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	position: absolute;
	font-size: 30px;
	letter-spacing: 0.2em;
	color: #2a2a2a;
	text-shadow: 0 0 3px #ffffff,
				 0 0 3px #ffffff;
	left: 30%;
	top: 30px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	height: calc(100vh - 200px - 30px);		/* window.height - header.height - position.top*/
}
header + main > div > section#top > div > h1,
header + main > div > section#top > div > p{
	z-index: 9999;
}
header.active + main > div > section#top > div > h1,
header.active + main > div > section#top > div > p{
	z-index: 300;
}
.sideTab{
	min-height: 180px;
	height: 30vh;
	width: 50px;
	padding: 20px 13px;
	text-align: center;
	background-color: green;
	color: white;
	position: absolute;
	right: 0;
	top: 30%;
	transform: translate(-1px, calc(-50% + 1px));
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	box-shadow: 0 3px 3px #000000;
	transition: all .3s ease;
}
.sideTab:hover{
	transform: translate(0px, calc(-50% - 1px));
	box-shadow: 0 0 2px #000000;
}
/*------------------------------------------------------------------------------------------------------------*/
/* 												NEWS 														  */
/*------------------------------------------------------------------------------------------------------------*/
section#news{
	padding-top: 30px;
	width: 100%;
}
section#news > div{
	width: 100%;
}
.col_two.news{
	width: 800px;
	margin: 0 auto;
	position: relative;
}
.col_two.news > div:first-child{
	width: 200px;
	font-size: 25px;
	position: relative;
}
.col_two.news > div:first-child > h3{
	height: 50px;
	line-height: 50px;
	font-size: 25px;
}
section#news > div > div.col_two.news > div:first-child > h3{
	transform: translateX(-100vw);
	transition: all .4s ease;
}
section#news.active > div > div.col_two.news > div:first-child > h3{
	transform: translateX(0);
}
section#news > div > div.col_two.news > div:last-child{
	opacity: .1;
	transition: all .3s ease;
}
section#news.active > div > div.col_two.news > div:last-child{
	opacity: 1;
}

.col_two.news > div:first-child::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	/*background-color: #000000;*/
	border-top: 1px dashed #000000ee;
}
.col_two.news > div:first-child::after{
	content: "";
	position: absolute;
	top: calc(0 + 50px);
	left: 0;
	width: 100%;
	height: 1px;
	/*background-color: #000000;*/
	border-bottom: 1px dashed #000000ee; 
}

.col_two.news > div:last-child{
	width: calc(100% - 200px);
	border: 1px dashed #999999;
	border-radius: 4px;
	min-height: 400px;
	padding: 10px 5px; 
}
.col_two.news > div:last-child > div{
	padding: 10px 0;
}
.col_two.news > div:last-child > div > a{
	display: flex;
}
.col_two.news > div:last-child > div > a:hover > span:last-child{ 
	text-decoration: underline;
}
.col_two.news > div:last-child > div > a > span, .col_two.news > div:last-child > div > p > span{
	font-size: 18px;
}
/*------------------------------------------------------------------------------------------------------------*/
/* 												BUSINESS													  */
/*------------------------------------------------------------------------------------------------------------*/
section#business{
	padding-top: 150px;
}
section#business > div{
	display: flex;
	overflow: hidden;
}
.shadow{
	position: absolute;
	top: -7px;
	right: 10px;
	font-size: 135px;
	color: #ffffff;
	text-shadow: 0 0 2px #000000;
	transform: translate(0, 0);
	/*animation: slideShadow 10s linear infinite alternate;*/
	z-index: -9000;
	opacity: .3;
}
.shadow::before{
	content: "BUSINESS";
	position: absolute;
	top: 0;
	left: 0;
	color: #000b94;
	transform: translate(5px, 5px);
	text-shadow: 0 0 2px #000000;
	z-index: -9999;
}
@keyframes slideShadow{
	from{
		transform: translate(-2000px,0);
	}
	to{
		transform: translate(2000px,0);
	}
}
.images{
	width: 50%;
}
.images > img{
	width: 100%;
}
.text{
	width: 50%;
	padding: 10px 20px;
}
.text > div{
	width: 100%;
	height: 100%;
	padding: 20px;
	position: relative;
}
.text > div > h2{
	font-size: 30px;
	padding: 10px;
	padding-bottom: 20px;
	line-height: 25px;
	letter-spacing: 0.2em;
	text-shadow: 0 0 2px #ffffff;
	color: #333333;
}
section#business > div > div.text > div > h2{
	transform: translateX(-100vw);
	transition: all .4s ease;
}
section#business.active > div > div.text > div > h2{
	transform: translateX(0);
}
section#business > div > div.text > div > p{
	opacity: .1;
	transform: translateY(300px);
	transition: all .4s ease;
	transition-delay: .2s;
}
section#business.active > div > div.text > div > p{
	opacity: 1;
	transform: translateY(0);
}

.text > div > p{
	font-size: 16px;
	letter-spacing: 0.1em;
	line-height: 1.2em;
}
.text > div > a{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(calc(-50% - 1px), -1px);
	background-color: #a0d8ef;
	border-radius: 20px;
	padding: 30px;
	width: 250px;
	/*height: 50px;*/
	line-height: 25px;
	font-size: 25px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 0 2px #000000,
				 0 0 2px #000000;
	box-shadow: 2px 2px 3px #000000,
				2px 2px 3px #000000;
	transition: all .3s ease;
}
.text > div > a:hover{
	box-shadow: 0px 0px 3px #000000;
	transform: translate(calc(-50% + 0px), 0px);
}

/*------------------------------------------------------------------------------------------------------------*/
/* 												RECRUIT														  */
/*------------------------------------------------------------------------------------------------------------*/
section#recruit > div {
	width: 800px;
	margin: 0 auto;
	height: 100%;
	max-height: 100vh;
	position: relative;
	overflow: visible;
}
section#recruit > div > div.bg_images{
	width: 100%;
	height: auto;
	max-height: 720px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 0;
	z-index: -999;
}
section#recruit > div > div.bg_images > img{
	width: 100%;
	min-height: 300px;
	max-height: 720px;
	height: auto;
	/*filter: blur(1px) brightness(1.2);*/
}
section#recruit > div > div.text{
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	padding: 20px;
	position: absolute;
	overflow: hidden;
}
section#recruit > div > div.text > h2{
	position: absolute;
	left: 5px;
	top: 2000px;
	height: 50vh;
	font-size: 50px;
	text-align: center;
	writing-mode: vertical-rl;
	text-orientation: upright;
	color: #222222;
    text-shadow: 0 0 3px #fbffff,
    			 0 0 3px #fbffff;
	line-height: 150px;
	width: 150px;
	transition: all .5s ease;
}
section#recruit.active > div > div.text > h2{
	top: 30px;
}
section#recruit > div > div.text > p{
	position: absolute;
	bottom: 25%;
	left: 50px;
	font-size: 20px;
	width: 300px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	text-shadow: 0 0 1px #ffffff,
				 0 0 1px #ffffff;
	color: #333333;
	transform: translateX(-100vw);
	transition: all .4s ease;
}
section#recruit.active > div > div.text > p{
	transform: translateX(0);
	padding: 15px;
	bottom: 20%;
}
section#recruit > div > div.text > p::before{
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	/*width: 100%;*/
	width: 0;
	border-top: 2px solid #777777;
	animation-direction: reverse;
}
section#recruit.active > div > div.text > p::before{
	animation: borderAnimation 1s linear;
	animation-fill-mode: forwards;
}

section#recruit > div > div.text > p::after{
	content: "";
	position: absolute;
	bottom: -5px;
	right: 0;
	/*width: 100%;*/
	width: 0;
	border-bottom: 2px solid #777777;
	animation: borderAnimation 1s linear;
	animation-direction: reverse;
}
section#recruit.active > div > div.text > p::after{
	animation: borderAnimation 1s linear;
	animation-fill-mode: forwards;
}
@keyframes borderAnimation{
	0%{
		width: 0;
	}
	75%,100%{
		width: 100%;
	}
}
section#recruit > div > div.text > a{
	position: absolute;
	top: 50%;
	right: 50px;
	width: 300px;
	height: 75px;
	line-height: 75px;
	font-size: 30px;
	color: #ffffff;
	background-color: #a0d8ef;
	text-align: center;
	border-radius: 15px;
	transform: translate(-1px, -1px);
	box-shadow: 1px 1px 2px #000000;
	text-shadow: 0 0 3px #222222,
				 0 0 3px #222222;
	opacity: 1.0;
	transition: all .3s ease;
}
section#recruit > div > div.text > a:hover{
	transform: translate(0, 0);
	box-shadow: 0px 0px 2px #000000;
	opacity: 0.8;
}

/*------------------------------------------------------------------------------------------------------------*/
/* 												WORKS														  */
/*------------------------------------------------------------------------------------------------------------*/
section#works > div > h2{
	position: relative;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	text-shadow: 0 0 2px #000000,
				 0 0 2px #000000;
	color: #ffffff;
	overflow: hidden;
}
section#works > div > h2::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 70%;
	height: 100%;
	border-top: 5px solid #004a78;
}
section#works.active > div > h2::before{
	animation: slideLeftIn .7s linear;
	animation-fill-mode: forwards;
}
section#works > div > h2::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	border-bottom: 5px solid #004a78;
	
}
section#works.active > div > h2::after{
	animation: slideRightIn .7s linear;
	animation-fill-mode: forwards;
}
@keyframes slideLeftIn{
	from{
		transform: translateX(-100vw);
	}
	to{
		transform: translateX(0);
	}
}
@keyframes slideRightIn{
	from{
		transform: translateX(100vw);
	}
	to{
		transform: translateX(0);
	}
}
section#works > div > div {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	margin: 0 auto;
	margin-top: 30px;
}
section#works > div > div > div{
	display: block;
	width: calc(100% / 2 - 20px);
	height: 350px;
	position: relative;
	margin: 10px;
	overflow: hidden;
}
section#works > div > div > div > h3{
	font-size: 45px;
	display: inline;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0 0 2px #100fba,
				 0 0 2px #100fba;
	color: #a7ccf9;
	width: 100%;
	text-align: center;
}
section#works > div > div > div > img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	filter: brightness(.7);
	z-index: -5000;
	transition: all .3s ease;
}
section#works > div > div > div:hover > img{
	opacity: .7;
	filter: brightness(1.0);
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	transform: translate(-5px, -5px);
}
section#works > div > a{
	display: block;
	width: 300px;
	font-size: 30px;
	margin: 10px auto;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 0 2px #000000,
				 0 0 2px #000000;
	padding: 10px;
	border-radius: 10px;
	background-color: #a0d8ef;
	transform: translate(-1px,-1px);
	box-shadow: 2px 2px 3px #777777;
	transition: all .5s ease;
}
section#works > div > a:hover{
	box-shadow: 0px 0px 3px #777777;
	transform: translate(0,0);
}
/*------------------------------------------------------------------------------------------------------------*/
/* 												CONTACT														  */
/*------------------------------------------------------------------------------------------------------------*/
section#contact > div{
	display: flex;
	padding: 30px;
	padding-top: 100px;
}
section#contact > div > div{
	width: calc(800px / 2);
	height: 300px;
	position: relative;
}
section#contact > div > div:first-child{
	position: relative;
	margin-left: auto;
}
section#contact > div > div:first-child::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-right: 1px solid #000000;
}
section#contact > div:hover > div:first-child::after{
	/*animation: borderLineAnime 2s linear infinite alternate;*/
}
@keyframes borderLineAnime{
	0%{
		top: 50%;
		height: 0;
	}
	75%{
		height: 100%;
		top: 0;
	}
	100%{
		height: 100%;
		top: 0;
	}
}
section#contact > div > div:last-child{
	margin-right: auto;
}
section#contact > div > div > h2{
	text-align: center;
	font-size: 40px;
	line-height: 300px;
}
section#contact > div > div > a{
	display: block;
	position: absolute;
	text-align: left;
	left: 100px;
	font-size: 25px;
	top: calc(50% - 20px);
	transform: translate(100vw, -50%);
	transition: all .5s ease;
	transition-delay: .1s;
	color: #1cb3f1;
	text-shadow: 0 0 1px #000000,
				 0 0 1px #000000;
}
section#contact.active > div > div > a{
	transform: translate(0, calc(-50%));
}
section#contact > div > div > a:after{
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	border-bottom: 1px dashed #777777;
	width: 0;
	height: 100%;
	transition: all .5s linear;
}
section#contact > div > div > a:hover{
	color: #2287b1;
	text-shadow: 0 0 1px #000000,
				 0 0 1px #000000;
}
section#contact > div > div > a:hover::after{
	width: 100%;
	left: 0;
}
section#contact > div > div > p{
	position: absolute;
	left: 100px;
	text-align: left;
	font-size: 20px;
	top: calc(50% + 20px);
	transform: translate(100vw, -50%);
	transition: all .5s ease;
	transition-delay: .3s;
}
section#contact.active > div > div > p{
	font-size: 25px;
	transform: translate(0, -50%);
}
section#contact > div > div > p > a{
	font-size: 30px;
	position: relative;
	color: #1cb3f1;
	text-shadow: 0 0 1px #000000,
				 0 0 1px #000000;
}
section#contact > div > div > p > a:hover{
	color: #2287b1;
	text-shadow: 0 0 1px #000000,
				 0 0 1px #000000;
}
section#contact > div > div > p > a::after{
	content: "";
	position: absolute;
	top: 0;
	right: 50%;
	width: 0;
	height: 100%;
	border-bottom: 1px solid #777777;
	transition: all .5s linear;
}
section#contact > div > div > p > a:hover::after{
	width: 100%;
	right: 0;
}



/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
/*										RESPONSE									  */
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
@media screen and (max-width: 800px){
	.sideTab{
		display: none;
	}
	header + main > div > section#top > div > h1, header + main > div > section#top > div > p{
		z-index: 9999;
	}
	header.active + main > div > section#top > div > h1, header + main > div > section#top > div > p{
		z-index: 800;
	}
	section#top > div > div{
		height: calc(100vh - 100px);
	}
	section#top > div > h1{
		left: unset;
		right: 10%;
		font-size: 35px;
	}
	section#top > div > h1 > p{
		font-size: 35px;
	}
	section#top > div > p{
		left: 10%;
		height: calc(100vh - 100px - 30px);
	}
	.images{
		display: none;
	}
	.text{
		width: 95%;
		margin: 0 auto;
		padding: 20px;
	}
	.text > div{
		padding-bottom: 50px;
	}
	.text > div > a{
		padding: 20px 30px;
	}
	.text > div > p{
		margin-bottom: 100px;
		line-height: 1.7em;
	}
	.col_two.news{
		width: 100%
	}
	.col_two.news > div:first-child{
		width: 100%;
	}
	.col_two.news > div:first-child > h3{
		text-align: center;
	}
	.col_two.news > div:last-child{
		width: 95%;
		margin: 10px auto;
	}
	.col_two.news > div:last-child > div > a > span:last-child{
		color: #1b40c5;
	}
	.col_two.news > div:last-child > div > a > span:last-child, .col_two.news > div:last-child > div > p > span:last-child{
		padding-left: 10px;
	}
	section#business{
		overflow: hidden;
	}
	section#works{
		margin-top: 100px;
	}
	.shadow, .shadow::before{
		animation: slideTextAnimation 10s linear infinite;
	}
	@keyframes slideTextAnimation{
		0%{
			transform: translateX(-200vw);
		}
		100%{
			transform: translateX(200vw);
		}
	}
	section#recruit > div{
		min-height: 750px;
		width: 100%;

	}
	section#recruit > div > div.bg_images{
		height: 100%;
	}
	section#recruit > div > div.text{
		height: 100%;
	}
	section#recruit > div > div.text > h2{
		writing-mode: horizontal-tb;
		width: 100%;
		position: relative;
		left: auto;
		top: auto;
	}
	section#recruit > div > div.text > a{
		top: inherit;
		bottom: 10px;
		right: 50%;
		transform: translateX(50%);
		position: absolute;
		padding: 20px 30px;
		margin: 0 auto;
		line-height: 35px;
	}
	section#recruit > div > div.text > p{
		width: 100%;
		left: 0;
	}
	section#works > div > div{
		flex-flow: column;
		width: 100%;
	}
	section#works > div > div > div{
		margin: 10px auto;
		width: 95%;
	}
	section#works > div > div > div > h3{
		font-size: 45px;
		width: 75%;
		text-align: center;
	}
	section#contact > div{
		flex-flow: column;
		width: 100%;
		padding: 30px 0;
	}
	section#contact > div > div{
		width: 100%;
		height: auto;
	}
	section#contact > div > div:first-child{
		margin-left: unset;
		text-align: center;
		position: relative;
		margin-bottom: 80px;
		margin-top: 80px;
	}
	section#contact > div > div:first-child::after{
		width: 100%;
		height: 100%;
		border: none;
		border-left: 20px solid #333333;
		top: 0;
		left: 0;
	}
	section#contact > div > div:first-child::before{
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		border-right: 20px solid #333333;
	}
	section#contact > div > div:last-child{
		width: 80%;
		margin: 0 auto;
		padding-top: 40px;
	}
	section#contact > div > div > h2{
		line-height: 100px;
	}
	section#contact > div > div > a{
		position: relative;
		top: unset;
		left: unset;
		transform: unset;
		/*text-decoration: underline;*/
		padding: 10px;
		margin-bottom: 20px;
		font-size: 25px;
	}
	section#contact > div > div > p{
		position: relative;
		top: unset;
		left: unset;
		transform: unset;
		margin-top: 40px;
		padding: 10px;
		font-size: 25px;
	}
	section#contact > div > div > p > a{
		/*text-decoration: underline;*/
		font-size: 28px;
	}
	section#contact.active > div > div > a::after{
		animation: contactBorderAnime 6s linear infinite alternate;
	}
	section#contact > div > div > p > a::after{
		animation: contactBorderAnimeRight 6s linear infinite alternate;
		animation-delay: .4s;
	}
	section#recruit > div > div.text > a:hover{
		transform: translateX(50%);
	}


}
@keyframes contactBorderAnime{
	from{
		left: 50%;
		width: 0%;
	}
	to{
		left: 0;
		width: 100%;
	}
}
@keyframes contactBorderAnimeRight{
	from{
		right: 50%;
		width: 0%;
	}
	to{
		right: 0;
		width: 100%;
	}
}