section#works{
	width: 100%;
}
section#works > div{
	width: 80%;
	margin: 0px auto;
	padding: 30px 10px;
}

section#works > div > h2{
	width: 100%;
	text-align: center;
	font-size: 45px;
}

.col_two{
	display: flex;
	width: 100%;
	padding: 10px;
}
.works_img{
	background-image: url(../img/noimage.png);
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
ol{
	padding-left: 45px;
}
ol > li{
	list-style: circle;
	font-size: 25px;
}